body{
    margin: 0%;
    padding: 0%;
}

/* section contenido1*/

#contenido1{
    width: 100%;
    height: 88vh;
}

.carousel{
    width: 100%;
    height: 88vh;
}

.desenfoque{
    width: 100%;
    height: 88vh;
    backdrop-filter: blur(-1px);
    padding: 14%;
}

.car{
    width: 100%;
    height: 88vh;
    background-size: 100% 88vh;
    font-size: 1.2rem;  

}

.car.itm1{
    background-image:url('../RECURSO/CARRUCEL/PANEL.jpg') ;
    backdrop-filter: blur(100px);
}

.car.itm2{

    background-image:url('../RECURSO/CARRUCEL/ZONA_PANELES.jpg') ;
}

.car.itm3{

    background-image:url('../RECURSO/CARRUCEL/RECIDENCIAS.jpg') ;
}

@media(min-width:791px){
    /* secction info general*/

    .principal{
        width: 100%;
        height: 70vh;
    }
    
    .formato-i{
        min-height: 70vh ;
        width: 50%;
        border: none;
    }
    
    .formato-i.img0{
        background-image: url('../RECURSO/CONTENIDO/TECHO_CASA.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
    }
    
    .formato-i.img1{
        background-image: url('../RECURSO/CONTENIDO/TIPOS_DE_ENERGIA.webp');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
    }
    
    .formato-i.img2{
        background-image: url('../RECURSO/CONTENIDO/INS_PANEL.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
    }

    .formato-i.img3{
        background-image: url('../RECURSO/CONTENIDO/CASA_PANEL.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
    }
    
   .formato-t{
        min-height: 50vh;
        width: 50%;
        padding: 5%;
        overflow: auto;
        font-size: 1.5rem;
    }

     .formato-t.texto0{
        direction: ltr;
        float: right;
    }
    
    .formato-t.texto1{
        direction: ltr;
        float: left;
    }
   |
    .formato-t.texto2{
        direction: ltr;
        float: right;
    }
    
    .formato-t.texto3{
        direction: ltr !important;
        float: left !important;
    }

    /* Section contenido5*/
    
    #contenido5{
        width: 100%;
        height: 40vh;
        display: flex;
    }
    .bordes{
        height: 5vh;
        filter: brightness(1.1);
        mix-blend-mode:multiply;
    }
    
    #texto{
        width:90%;
        text-align: center;
        margin: auto;
        color: rgb(25, 0, 255);
        padding: 5%;
        overflow: auto;
        font-size: 1.7rem;
    }
    
    .bordes.invertido{
        transform: scaleX(-1);
    }
    
    /*section contenido6*/
    
    #contenido6{
        width: 100%;
        height: 70vh;
        display: flex;
    }
    
    #carouselExampleSlidesOnly{
        width: 50%;
        height: 50vh;
        
    }
    
    .img-slide{
        height: 50vh;
        width: 10%;
    }
    
    .img-slide.img1{
    
        background-image:linear-gradient(to left,rgb(255, 255, 255),transparent), url('../Recursos/Imagenes_inicio/Cafe.jpg');
    
        /*width --- height*/
        background-size: 100% 70vh;
    }
    
    .img-slide.img2{
    
        background-image:linear-gradient(to left,rgb(255, 255, 255),transparent), url('../Recursos/Imagenes_inicio/Fruta.jpg');
    
        /*width --- height*/
        background-size: 100% 70vh;
    }
    
    
    .img-slide.img3{
    
        background-image:linear-gradient(to left,rgb(255, 255, 255),transparent), url('../Recursos/Imagenes_inicio/platacion_aceite.jpg');
    
        /*width --- height*/
        background-size: 100% 70vh;
    }
    
    #texto-cont6{
        width: 50%;
        direction: rtl;
        margin: 5%;
        overflow: auto;
        font-size: 1rem;
    }
    
    .txt{
        border: 5px solid rgb(0, 0, 0);
        border-radius: 10px;
        width: 90%;
        margin: auto;
        color:#ffffff;
        text-align: center !important; 
        font-size: 3dvb;
    }
}