body{
    margin: 0%;
    padding: 0%;
}

/* section contenido1*/

#contenido1{
    width: 100%;
    height: 80vh;
}

.carousel{
    width: 100%;
    height: 88vh;
}

.desenfoque{
    width: 100%;
    height: 88vh;
    backdrop-filter: blur(-1px);
    padding: 14%;
}

.car{
    width: 100%;
    height: 80vh;
    background-size: 100% 80vh;
    font-size: 1.2rem;  

}

.car.itm1{
    background-image:url('../RECURSO/CARRUCEL/PANEL.jpg') ;
    backdrop-filter: blur(100px);
}

.car.itm2{

    background-image:url('../RECURSO/CARRUCEL/ZONA_PANELES.jpg') ;
}

.car.itm3{

    background-image:url('../RECURSO/CARRUCEL/RECIDENCIAS.jpg') ;
}

@media(min-width:791px){
    /* secction info general*/

    .principal{
        width: 100%;
        height: 80vh;
    }
    
    .formato-i{
        min-height: 70vh ;
        width: 50%;
        border: none;
    }
    
    .formato-i.img0{
        background-image: url('../RECURSO/CONTENIDO/TECHO_CASA.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
    }
    
    .formato-i.img1{
        background-image: url('../RECURSO/CONTENIDO/TIPOS_DE_ENERGIA.webp');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
    }
    
    .formato-i.img2{
        background-image: url('../RECURSO/CONTENIDO/INS_PANEL.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
    }

    .formato-i.img3{
        background-image: url('../RECURSO/CONTENIDO/CASA_PANEL.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        float: right;
    }
    
   .formato-t{
        min-height: 50vh;
        width: 50%;
        padding: 5%;
        overflow: auto;
        font-size: 1.5rem;
    }

     .formato-t.texto0{
        direction: ltr;
        float: right;
    }
    
    .formato-t.texto1{
        direction: ltr;
        float: left;
    }
   
    .formato-t.texto2{
        direction: ltr;
        float: right !important;
    }
    
    .formato-t.texto3{
        direction: ltr !important;
        float: left !important;
    }

    /* Section contenido5*/
    
    #contenido5 {
    width: 100%;          /* El contenedor ocupa todo el ancho disponible */
    height: 70vh;         /* Su altura es del 70% de la altura visible de la pantalla */
    display: flex;        /* Activa flexbox para alinear los elementos internos en fila */
    }

    /* Estilo base para las imágenes o elementos con bordes */
    .bordes {
        border: none !important;
        height: 40vh;                 /* Altura establecida al 30% de la pantalla visible */
        filter: brightness(1.1);      /* Aumenta ligeramente el brillo (10% extra) */
        mix-blend-mode: multiply;     /* Mezcla el elemento con el fondo para un efecto visual */
    }

    /* Estilos para la sección de texto */
    #texto {
        width: 100%;                   /* El texto ocupa el 75% del ancho del contenedor */
        text-align: center;           /* Centra el texto horizontalmente */
        margin: 0 20px !important;    /* Márgenes laterales de 30px, forzado con !important */
        color: rgb(0, 0, 0);          /* Color del texto: negro */
        padding: 2px;                  /* Sin relleno interno */
        overflow: auto;               /* Si el contenido sobrepasa el tamaño, añade scroll */
        font-size: 1.3rem;            /* Tamaño de letra ligeramente grande */
    }

    /*section contenido6*/
    
    #contenido6{
        width: 100%;
        height: 65vh;
        display: flex;
    }
    
    #carouselExampleSlidesOnly{
        width: 100%;
        height: 40vh;
    }
    
    .img-slide{
        height: 65vh;
        width: 100%;
    }
    
    .img-slide.img1{
        background-image: url("../RECURSO/CONTENIDO/CAMPO_SOLAR.jpg");
        background-repeat: no-repeat;
        background-size: 100% 65vh;
    }
    
    .img-slide.img2{
        background-image: url("../RECURSO/CONTENIDO/PANELES_SOLARES.jpg");
        background-repeat: no-repeat;
        background-size: 100% 65vh;
    }
    
    
    .img-slide.img3{
        background-image: url("../RECURSO/CONTENIDO/MANO_SOLAR.jpg");
        background-repeat: no-repeat;
        background-size: 100% 65vh;
    }
    
    #texto-cont6{
        min-height: 40vh;
        width: 90%;
        padding: 6%;
        text-align: center;
        direction: ltr;
        overflow: auto;
        font-size: 1.3rem;
    }
    
    .txt{
        border: 5px solid rgb(0, 0, 0);
        border-radius: 10px;
        width: 90%;
        margin: auto;
        color:#ffffff;
        text-align: center !important; 
        font-size: 3dvb;
    }
}