@media(min-width:791px){
    #h1{
        margin-top: 6000%;
        margin-left: 5%;
        font-size: 2.5rem;        
    }

    #contenido{
        width: 100%;
        min-height: 80vh;
        max-height: 150vh;
    }
    
         
    #grafico{
        margin-top: 600px;
        margin-left: 8%;
        float: left;
    }

}