body {
    font-family: Arial, sans-serif;
    margin: 0;                 
    margin: 0;
    padding: 0;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #00ff6a;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition:  background-color 1.3s ease;
}

.container {
    margin-top: 10px;
    background: #ffffff;
    padding: 50px;
    border-radius: 15px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 600px;
    color: #000000;
}

h1 {
    color: #000000 !important;   
    text-align: center;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px 3px; 
    margin-bottom: 70px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #000000;
    padding: 50px;
    border-radius: 10px;
}

.controls button {
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #0099ff;
    color: white;
    border: none;
}
.controls button:hover {
    background-color: #000000;
    transform: translateY(-1px);
}

.error {
    color: #ff0000;
    font-weight: bold;
    padding: 5px;
    margin-top: 10%;
    margin-bottom: 20px;
    text-align: center;
}

#chartContainer {
    width: 100%;
    height: 60px;
    width: 70%;
}