
@media(max-width:790px){
    #contenido{
        min-height: 80vh;
    }
    
    #formulario{    
        width: 80%;
        text-align: center;
        margin-top: 5% !important;
        margin: auto;
        z-index: 2;
        height: 55vh;
    }
    
    .bordes{        
        visibility: hidden;
        width: 0;
        height: 0;
    
    }
    
    #inferior{
        display: flex;
        border: none !important;    
        filter: brightness(1.5);
        mix-blend-mode:multiply;
        justify-content: center;
        align-items: center; 
        height: 40vh;
        width: 60%;
        margin: auto;
    }
}